<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="stylesheet" href="/public/cadastro.css">
    <title>Cadastrar Novas Noticías</title>
</head>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <a style="text-decoration: none; color: white;" href="/"><h2><span style="font-weight: lighter;">Ipirá</span><b>News</b></h2></a>
            </div>
        </div>
    </header>
</body>
</html>