<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/public/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/style-single.css">
    <link rel="stylesheet" href="/public/style-search.css">
    <title>IpiráNews</title>
</head>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <a style="text-decoration: none; color: white;" href="/"><h2><span style="font-weight: lighter;">Ipirá</span><b>News</b></h2></a>
            </div>
            <div class="form-busc">
                <form>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" name="search" placeholder="Buscar...">
                </form>
            </div>

        </div>
    </header>
</body>
</html>