<%- include('partials/header-cd.html') %>
    <section class="cadastro">
        <div class="center">
            <div class="title">
                <h2>Cadastrar Novas Notícias</h2>
            </div>
            <div class="align">
                <form enctype="multipart/form-data" method="post" action="/admin/cadastro">
                    <input type="text" name="titleNews" placeholder="Insirar o título da notícia...">
                    <input type="text" name="urlImg" placeholder="Insirar a Url da imagem da notícia">
                    <input type="text" name="slug" placeholder="Insirar o Slug">
                    <input type="file" name="arquivo">
                    <textarea name="news" placeholder="Notícia Completa"></textarea>
                    <input type="submit" value="Cadastrar!">
                </form>
            </div>
        </div>
    </section>
    <section class="lista">
        <div class="center">
            <div class="title">
                <h2>Notícias Cadastradas</h2>
            </div>
            <div class="new">
                <% for (let i = 0; i < posts.length; i++){ %>
                <div class="new-single">
                    <p>Título: <%= posts[i].titulo %></p>
                    <a href="/admin/deletar/<%= posts[i].id %>">(X)</a>
                </div>
                <% } %>
            </div>
        </div>
    </section>

    
    
<%- include('partials/footer.html') %>
</body>
</html>