<%- include('partials/header.html') %>

<section class="news">
    <div class="centersin">
        <div class="news-single">
            <h2><%= noticia.titulo %></h2>
            <div class="author">
                <span>Por <%= noticia.autor %></span>
            </div>
            <div><img style="max-width: 100%; margin: 15px 0;" src="<%= noticia.imagem %>"></div>
            <p><%- noticia.conteudo %></p>
            <div class="white"></div>
        </div>
        <div class="reads">
            <h3>Mais lidas</h3>
            <div class="much-news">
                <% for (let i = 0; i < posttop.length; i++){ %>
                    <div class="much-news-single">
                        <img src="<%= posttop[i].imagem %>">
                        <div class="text-much-news">
                            <h4><a style="text-decoration: none; color: #0072CA;" href="<%= posttop[i].slug %>"><%= posttop[i].titulo %></a></h4>
                            <p><%- posttop[i].descricaoCurta %></p>
                            <span style="font-size: 12px; color: red; font-weight: bold;">Views: <%= posttop[i].views %></span>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.html') %>
</body>
</html>